<div class="about">
  <div class="row">
    <div class="col">
      <h1 class="cover-heading">About</h1>
      <p class="lead">Just learning new stuff to do in Rails</p>
      <p class="lead">So this is a demo app to share recipes and follow Chefs</p>
      <p class="lead">
        <p><%= link_to 'Signup', "#", class: "btn btn-lg btn-danger" %></p>
      </p>
    </div>
    <div class="col">
      <h1 class="cover-heading">About</h1>
      <p class="lead">Just learning new stuff to do in Rails</p>
      <p class="lead">So this is a demo app to share recipes and follow Chefs</p>
      <p class="lead">
        <p><%= link_to 'Signup', "#", class: "btn btn-lg btn-danger" %></p>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1 class="cover-heading">About</h1>
      <p class="lead">Just learning new stuff to do in Rails</p>
      <p class="lead">So this is a demo app to share recipes and follow Chefs</p>
      <p class="lead">
        <p><%= link_to 'Signup', "#", class: "btn btn-lg btn-danger" %></p>
      </p>
    </div>
    <div class="col">
      <h1 class="cover-heading">About</h1>
      <p class="lead">Just learning new stuff to do in Rails</p>
      <p class="lead">So this is a demo app to share recipes and follow Chefs</p>
      <p class="lead">
        <p><%= link_to 'Signup', "#", class: "btn btn-lg btn-danger" %></p>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1 class="cover-heading">About</h1>
      <p class="lead">Just learning new stuff to do in Rails</p>
      <p class="lead">So this is a demo app to share recipes and follow Chefs</p>
      <p class="lead">
        <p><%= link_to 'Signup', "#", class: "btn btn-lg btn-danger" %></p>
      </p>
    </div>
    <div class="col">
      <h1 class="cover-heading">About</h1>
      <p class="lead">Just learning new stuff to do in Rails</p>
      <p class="lead">So this is a demo app to share recipes and follow Chefs</p>
      <p class="lead">
        <p><%= link_to 'Signup', "#", class: "btn btn-lg btn-danger" %></p>
      </p>
    </div>
  </div>
</div>
